body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(253, 223, 183);
}

.header_div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(253, 223, 183);
    padding: 10px 5px;
    box-shadow: 5px 5px 5px rgb(155, 155, 155);
}
.nav_icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position:fixed;
    top: 1.7em;
    right: 2em;
}
.add_icon{
    position: fixed;
    bottom: 3em;
    right: 2em;
    width: 100px;
    height: 70px;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.2em;
    padding-top: 6.5em;
    padding-bottom: 6.7em;
    margin: 0 auto;
}
.item{
    border: 2px solid black;
    background-color: antiquewhite;
    text-align: left;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    
}
.item-check{
    color: rgb(148, 148, 148);
    width: 2em;
    height: 2em;
}
.item-check-clicked{
    color: rgb(255, 200, 129);
}
.item-title{
    font-weight: bold;
    font-size: 25px;
    margin: 0.5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
.item-title-completed{
    color:rgb(148, 148, 148);
    text-decoration-line: line-through;
}
.item-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    margin:auto;
}
.navbar{
    position: fixed;
    top: 6.39em;
    right:0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    gap: 0.5em;
    background-color: rgb(253, 223, 183);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    
}
.navbar span{
    background-color: antiquewhite;
    font-size: large;
    font-weight: 250;
    width: 100%;
    padding: 1rem;
    cursor: pointer;

}
.navbar button{
    width: 40%;
    min-height: 3em;
    background-color: antiquewhite;
    margin: auto;
}
.saving-popup{
    background-color: rgb(253, 223, 183);
    position: fixed;
    top: 0em;
    left: 30%;
    right: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
.screen{
    position: fixed;
    top: 6.5em;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgb(253, 223, 183);
    padding: 0 5%;
}
.screen input , .screen textarea{
    width: 100%;
    min-height: 2.5em;
    border-radius: 10px;
    margin: 0.5em;
}
.screen-btn{
    width: 50%;
    min-height: 3em;
    margin: 1em auto;
    border-radius: 10px;
}
.screen-btn-cancel{
    width: 50%;
    min-height: 3em;
    margin: 1em auto;
}
fieldset{
    width: 80%;
}
.overdue{
    background-color: rgb(255,125,125);
}
.button-delete{
    width: 50%;
    min-height: 3em;
    margin: 1em auto;
    border-radius: 10px;
    background-color: rgb(255, 71, 71);
    cursor: pointer;
}
.button-cancel{
    width: 50%;
    min-height: 3em;
    margin: 1em auto;
    border-radius: 10px;
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}